# Project
PROJECT_NAME=omnichannel-commerce-data-platform
ENVIRONMENT=dev
LOG_LEVEL=INFO

# Local PostgreSQL warehouse / raw landing
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=commerce_platform
POSTGRES_USER=commerce
POSTGRES_PASSWORD=commerce
POSTGRES_RAW_SCHEMA=raw
POSTGRES_STAGING_SCHEMA=staging
POSTGRES_MARTS_SCHEMA=marts

# Olist batch source
OLIST_DATASET_ID=olistbr/brazilian-ecommerce
OLIST_LANDING_PATH=storage/bronze/olist

# Retailrocket replay source
RETAILROCKET_DATASET_ID=retailrocket/ecommerce-dataset
RETAILROCKET_REPLAY_PATH=data/sample/streaming/retailrocket_events.jsonl
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_RETAILROCKET_RAW=retailrocket.events.raw
KAFKA_TOPIC_RETAILROCKET_VIEW=retailrocket.events.view
KAFKA_TOPIC_RETAILROCKET_ADDTOCART=retailrocket.events.addtocart
KAFKA_TOPIC_RETAILROCKET_TRANSACTION=retailrocket.events.transaction
KAFKA_TOPIC_RETAILROCKET_DLQ=retailrocket.events.dlq
KAFKA_CONSUMER_GROUP=retailrocket-replay-local
KAFKA_TOPIC_PARTITIONS=6

# External APIs
DUMMYJSON_BASE_URL=https://dummyjson.com
OPEN_METEO_BASE_URL=https://archive-api.open-meteo.com
FRANKFURTER_BASE_URL=https://api.frankfurter.dev

# MongoDB raw JSON / event document store
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=commerce_raw
MONGO_COLLECTION_RETAILROCKET=retailrocket_events_raw
MONGO_COLLECTION_DUMMYJSON_PRODUCTS=dummyjson_products_raw
MONGO_COLLECTION_WEATHER=open_meteo_weather_raw
MONGO_COLLECTION_FX=frankfurter_fx_raw
MONGO_COLLECTION_BATCH_RUNS=batch_api_runs_raw

# MinIO object storage
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_BUCKET_RAW=raw
MINIO_BUCKET_PROCESSED=processed

# Warehouse
WAREHOUSE_LOCAL_ENGINE=postgres
WAREHOUSE_BIGQUERY_PROJECT=TODO_PROJECT_ID
WAREHOUSE_BIGQUERY_LOCATION=TODO_LOCATION
WAREHOUSE_BIGQUERY_RAW_DATASET=commerce_raw
WAREHOUSE_BIGQUERY_STAGING_DATASET=commerce_staging
WAREHOUSE_BIGQUERY_MARTS_DATASET=commerce_marts
DBT_TARGET=dev

# Kestra
KESTRA_NAMESPACE=omnichannel.platform.dev
KESTRA_HOST=http://localhost:8080

# Spark
SPARK_MASTER_URL=local[*]
SPARK_APP_NAME=omnichannel-platform

# GCP / Terraform / dbt prod target
GCP_PROJECT_ID=TODO_PROJECT_ID
GCP_REGION=TODO_REGION
GCP_TERRAFORM_STATE_BUCKET=TODO_TF_STATE_BUCKET
GOOGLE_APPLICATION_CREDENTIALS=TODO_PATH_TO_SERVICE_ACCOUNT_JSON
GCP_SERVICE_ACCOUNT_JSON=TODO_INLINE_JSON_FOR_DBT_OR_CI

# Dashboard
DASHBOARD_PORT=8501
